page-login {
	.logo-container {
		margin: 125px auto 50px auto;
		img {
			width: 200px;
		}
	}
	.list {
		margin: 0px 25px;
		.item-block {
			width: calc(100%);
			border: none !important;
			margin: 0px auto;
			padding-left: 0px;
			ion-icon {
				color: color($colors, primary);
				margin-bottom: -20px;
			}
			.item-inner {
				border-top: 0.5px solid #fff !important;
				border-bottom: 0.5px solid #ccc !important;
				.label {
					color: $grey-light;
					font-weight: 400;
				}
				.text-input {
					font-weight: 400;
				}
			}
		}
		.button {
			margin-top: 25px;
			letter-spacing: 1px;
		}
	}
}
