<ion-content>
	<div text-center class="logo-container">
		<img src="assets/imgs/logo_mb.png" />
	</div>
	<ion-list>
		<ion-item>
			<ion-icon item-left name="ios-mail-outline"></ion-icon>
			<ion-label floating>Email</ion-label>
			<ion-input type="email" [(ngModel)]="user.email"></ion-input>
		</ion-item>
		<ion-item>
		    <ion-icon item-left name="ios-lock-outline"></ion-icon>
			<ion-label floating>Password</ion-label>
			<ion-input type="password" [(ngModel)]="user.password"></ion-input>
		</ion-item>
		<button ion-button block round color="primary" (click)="doLogin(user)">Login</button>
	</ion-list>
</ion-content>