<ion-header>
	<ion-navbar>
		<ion-title>Add New Users</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label floating></ion-label>
			<ion-textarea rows="5" placeholder="Enter a comma separated list of email addresses" [(ngModel)]="user.emails">{{ user.emails }}</ion-textarea>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button block (click)="onSave()">Save</button>
	</div>
</ion-content>
