<ion-tabs #Tabs preloadTabs="true" color="twitter" (ionChange)="transition($event)">
	<ion-tab [root]="tab1Root" tabTitle="Dashboard" tabIcon="ios-speedometer"></ion-tab>
	<ion-tab [root]="tab2Root" tabTitle="Stories" tabIcon="ios-megaphone"></ion-tab>
	<ion-tab [root]="tab3Root" tabTitle="Timelines" tabIcon="ios-time"></ion-tab>
	<ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="ios-person"></ion-tab>
	<ion-tab [root]="tab5Root" tabTitle="Team" tabIcon="ios-people"></ion-tab>
	<ion-tab [root]="tab6Root" tabTitle="Settings" tabIcon="ios-settings"></ion-tab>
</ion-tabs>
