page-edit-profile-modal {
    .profile-container {
		margin-bottom: 15px;
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%/50%;
			object-fit: cover;
			margin: 5px auto;
		}
	}
	.item-radio,
	.item-radio-checked {
		ion-label {
			color: color($colors, dark) !important;
		}
	}
}
