<ion-header>
	<ion-navbar>
		<ion-title>Edit Profile</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>First name</ion-label>
			<ion-input type="text" [(ngModel)]="user.firstname"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Last name</ion-label>
			<ion-input type="text" [(ngModel)]="user.lastname"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Email</ion-label>
			<ion-input type="email" [(ngModel)]="user.email"></ion-input>
		</ion-item>
	</ion-list>

	<ion-list radio-group>
		<ion-list-header>Sharing Preference</ion-list-header>
		<ion-item>
			<ion-label>Auto share</ion-label>
			<ion-radio value="true" [checked]="user.autoshare == true" (ionSelect)="onChangeSharing(true)"></ion-radio>
		</ion-item>
		<ion-item>
			<ion-label>Email notification</ion-label>
			<ion-radio value="false" [checked]="user.autoshare != true" (ionSelect)="onChangeSharing(false)"></ion-radio>
		</ion-item>
		<ion-item *ngIf="user.autoshare != true">
			<ion-label>Share on facebook</ion-label>
			<ion-checkbox color="primary" [(ngModel)]="user.enable_fb_share"></ion-checkbox>
		</ion-item>
	</ion-list>

	<button ion-button block (click)="doSave(user)">Save</button>
</ion-content>
