<ion-header>
	<ion-navbar>
		<ion-title>Team</ion-title>
		<ion-buttons end>
			<button ion-button right icon-only (click)="presentPopover($event)">
				<ion-icon name="ios-funnel" color="primary"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-fab top right #fab>
		<button ion-fab mini color="primary">
			<ion-icon name="add"></ion-icon>
		</button>
		<ion-fab-list>
			<button ion-fab mini (click)="openModal('AddUserModalPage', fab)">
				<ion-icon name="ios-person-outline"></ion-icon>
				<ion-label>Add New user</ion-label>
			</button>
			<button ion-fab mini (click)="openModal('InviteUserModalPage', fab)">
				<ion-icon name="ios-mail-outline"></ion-icon>
				<ion-label>Invite User</ion-label>
			</button>
			<button ion-fab mini (click)="openModal('UserOverviewModalPage', fab)">
				<ion-icon name="ios-flash"></ion-icon>
				<ion-label>Overview</ion-label>
			</button>
		</ion-fab-list>
	</ion-fab>
	<ion-searchbar [(ngModel)]="searchText" [formControl]="searchControl"></ion-searchbar>
</ion-header>

<ion-content #pageTop>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content refreshingSpinner="ios-small"></ion-refresher-content>
	</ion-refresher>
	<div>
		<div *ngIf="users?.length > 0">
			<ion-list>
				<ion-item-sliding *ngFor="let item of users; let i = index;">
					<ion-item>
						<ion-avatar item-start>
							<div class="image-name" [ngStyle]="{'background': this.commonService.getColor(i)}" [ngClass]="{ 'is-admin': item.is_admin == true, 'not-admin': item.is_admin == false }">{{ this.commonService.getImageName(item.name, '') }}</div>
						</ion-avatar>
						<h2>{{ item.name }} <span class="email">{{ item.email }}</span></h2>
						<p class="timeago">Joined: {{ this.commonService.timeAgo(item.joined_team_at) }} <span>{{ item.autoshare == true ? '(auto share)' : '(email)' }}</span></p>
						<ion-grid no-padding>
							<ion-row no-padding>
								<ion-col col-3 text-left>
									<div>
										<span *ngFor="let channel of item.channels">
											<ion-icon color="primary" name="logo-facebook" *ngIf="channel == 'facebook'"></ion-icon>
											<ion-icon color="primary" name="logo-twitter" *ngIf="channel == 'twitter'"></ion-icon>
											<ion-icon color="primary" name="logo-linkedin" *ngIf="channel == 'linkedin'"></ion-icon>
										</span>
									</div>
								</ion-col>
								<ion-col col-9 text-right>
									<div class="counts">{{ item.shares }} <span>Shares</span> &nbsp; {{ item.hits }} <span>Clicks</span></div>
								</ion-col>
							</ion-row>
						</ion-grid>
					</ion-item>
					<ion-item-options side="right">
						<button ion-button color="danger" *ngIf="item.is_admin" (click)="removeAdmin(item)">Remove <br/>Admin</button>
						<button ion-button color="twitter" *ngIf="!item.is_admin" (click)="makeAdmin(item)">Make <br/>Admin</button>
						<button ion-button color="danger" *ngIf="item.is_vip" (click)="removeInfluencer(item)">Remove <br/>Influencer</button>
						<button ion-button color="twitter" *ngIf="!item.is_vip" (click)="makeInfluencer(item)">Make <br/>Influencer</button>
					</ion-item-options>
				</ion-item-sliding>
			</ion-list>
		</div>
		<div *ngIf="users?.length == 0 && showEmptyPage">
			<ion-card class="empty-card">
			<ion-card-content>
				<ion-icon name="ios-person"></ion-icon>
				<div class="empty-card-content">
					<h2>No users</h2>
					<p>Looks like no users added</p>
					<button ion-button round (click)="openModal('AddUserModalPage', fab)">ADD NEW USER</button>
				</div>
			</ion-card-content>
			</ion-card>
		</div>
    </div>
	<ion-infinite-scroll [enabled]="isInfiniteEnable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="ios-small"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
