page-team {
	.searchbar-md .searchbar-input {
		box-shadow: none;
	}
	.header-md::after, 
	.tabs-md[tabsPlacement="top"] > .tabbar::after, 
	.footer-md::before, 
	.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
		background-image: none;
	}
	.bar-buttons-ios[end] .bar-button-ios[icon-only],
	.bar-buttons-md[end] .bar-button-md[icon-only] {
		right: 50px;
	}
	ion-fab {
		top: -34px !important;
	}
	.item-ios ion-avatar ion-img, .item-ios ion-avatar img,
	.item-md ion-avatar ion-img, .item-md ion-avatar img {
		width: 50px;
        height: 50px;
		&.is-admin {
			border: 2px solid color($colors, danger);
		}
		&.not-admin {
			border: 2px solid color($colors, ash);
		}
	}
	h2 {
		font-weight: bold;
		.email {
			color: color($colors, ash);
			font-size: 12px;
		}
	}
	p.timeago {
		margin: 10px 0px;
        color: color($colors, dark); 
        span {
        	color: color($colors, ash);
        }
	}
	.counts {
		font-size: 13px;
		color: color($colors, dark); 
        span {
        	color: color($colors, ash);
        }
	}
	button[ion-fab] {
        overflow: visible;
        position: relative;
        top: 34px;
        right: -10px;

        &.fab-ios-primary {
        	top: 28px;
        }

        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: white;
            background-color: color($colors, secondary);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
        contain: layout;
    }
    .empty-card {
	    text-align: center;
	    box-shadow: none;
	    padding-top: 100px;
	    border-bottom: none;
	    ion-icon {
    		color: $grey-light;
    		font-size: 100px;
    	}
	    .empty-card-content {
		    h2 {
		        font-size: 18px;
		        font-weight: 500;
		    } 
		    p {
		        margin: 15px auto 50px auto;
		        width: 240px;
		    }
		    .button-inner {
		        font-size: 12px;
		    }
	    }
	}
    
    ion-item-options {
		.button-inner {
			line-height: 17px;
		}
	}

	.custom-fab-list {
	    margin: 66px 0;
	    position: absolute;
	    top: 0;
	    display: none;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	    -ms-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-align: center;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	    min-width: 56px;
	    min-height: 56px;
	    &.show {
		    opacity: 1;
		    visibility: visible;
		    -webkit-transform: scale(1);
		    transform: scale(1);
		}
	}
}