<ion-header>
	<ion-navbar>
		<ion-title>Dashboard</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-segment mode="ios">
			<ion-segment-button value="Summary" [ngClass]="{'segment-activated': activeTab == 'Summary'}" (click)="getTab('Summary')">Summary</ion-segment-button>
			<ion-segment-button value="Engagement" [ngClass]="{'segment-activated': activeTab == 'Engagement'}" (click)="getTab('Engagement')">Engagement</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div (swipe)="onSwipe($event)">
		<div *ngIf="activeTab == 'Summary'">
			<ion-grid class="stats-grid">
				<ion-row>
					<ion-col col-6>
						<div class="div-1" (click)="getTeam()">
							<ion-icon name="md-ribbon"></ion-icon>
							<h2>${{ dashboardStats.nvalue_earned }}</h2>
							<p>Earned Media Value</p>
						</div>
					</ion-col>
					<ion-col col-6>
						<div class="div-2">
							<ion-icon name="ios-share-alt-outline"></ion-icon>
							<h2>${{ dashboardStats.nshares }}</h2>
							<p>Shares</p>
						</div>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-6>
						<div class="div-3">
							<ion-icon name="md-globe"></ion-icon>
							<h2>${{ dashboardStats.nviews }}</h2>
							<p>Clickthroughs</p>
						</div>
					</ion-col>
					<ion-col col-6>
						<div class="div-4" (click)="getTeam()">
							<ion-icon name="ios-people"></ion-icon>
							<h2>${{ dashboardStats.nmembers }}</h2>
							<p>Members</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>

			<div class="title-divider">Posts Summary</div>
			<ion-grid>
				<ion-row>
					<ion-col col-6>
						<div class="post-summary-list">
							<ion-list no-lines>
								<ion-item>
									<ion-icon name="share-alt" class="blue" item-start></ion-icon>
									<div class="content"><span>{{ avgPost.npostlastweek }}</span> per week</div>
								</ion-item>
							</ion-list>
							<div class="title">Avg # of Posts</div>
						</div>
					</ion-col>
					<ion-col col-6>
						<div class="post-summary-list">
							<ion-list no-lines>
								<ion-item>
									<ion-icon name="ios-time-outline" class="green" item-start></ion-icon>
									<div class="content"><span>{{ lastPost.days }}</span> days<span>{{ lastPost.hours }}</span> hrs</div>
								</ion-item>
							</ion-list>
							<div class="title">Time Since Last Post</div>
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>

			<ion-grid class="top-employee-list" *ngIf="topEmployee">
				<ion-row>
					<ion-col col-3>
						<img [src]="topEmployee.profileImage" onerror="this.onerror = null; this.src = 'assets/imgs/default.png'" />
					</ion-col>
					<ion-col col-9>
						<h2>{{ topEmployee.firstname + ' ' + topEmployee.lastname }}</h2>
						<ion-grid class="right-div">
							<ion-row><ion-col col-3>{{ topEmployee.nshares }}</ion-col><ion-col col-9>Shares</ion-col></ion-row> 
							<ion-row><ion-col col-3>{{ topEmployee.nclicks }}</ion-col><ion-col col-9>Clicks</ion-col></ion-row> 
							<ion-row><ion-col col-3>{{ topEmployee.npoints }}</ion-col><ion-col col-9>Points</ion-col></ion-row>
						</ion-grid>
					</ion-col>
				</ion-row>
				<div class="title">Social Employee of the Month: {{ topEmployeeOf }}</div>
			</ion-grid>

			<ion-grid class="company-channel-list">
				<ion-row>
					<ion-col col-3>
						<ion-icon color="primary" name="logo-facebook" item-start *ngIf="bestChannel.name == 'facebook' || bestChannel.name == 'facebookpage'"></ion-icon>
						<ion-icon color="primary" name="logo-twitter" item-start *ngIf="bestChannel.name == 'twitter'"></ion-icon>
						<ion-icon color="primary" name="logo-linkedin" item-start *ngIf="bestChannel.name == 'linkedin' || bestChannel.name == 'linkedinpage'"></ion-icon>
					</ion-col>
					<ion-col col-9>
						<h2>{{ this.commonService.setProviderName(bestChannel.name) }}</h2>
						<ion-grid class="right-div">
							<ion-row><ion-col col-3>{{ bestChannel.hits }}</ion-col><ion-col col-9>Clicks</ion-col></ion-row> 
						</ion-grid>
					</ion-col>
				</ion-row>
				<div class="title">Best Channel</div>
			</ion-grid>

			<ion-grid class="company-channel-list">
				<ion-grid>
					<ion-row>
						<ion-col col-6>
							<ion-row>
								<ion-col col-3>
									<ion-icon color="primary" name="logo-linkedin" item-start></ion-icon>
								</ion-col>
								<ion-col col-9>
									<ion-icon color="primary" name="ios-checkmark-outline" *ngIf="companyChannels.linkedinpage == 'yes'"></ion-icon>
									<button ion-button small clear (click)="connectChannel()" *ngIf="companyChannels.linkedinpage == 'no'">Connect</button>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col col-6>
							<ion-row>
								<ion-col col-3>
									<ion-icon color="primary" name="logo-facebook" item-start></ion-icon>
								</ion-col>
								<ion-col col-9>
									<ion-icon color="primary" name="ios-checkmark-outline" *ngIf="companyChannels.facebookpage == 'yes'"></ion-icon>
									<button ion-button small clear (click)="connectChannel()" *ngIf="companyChannels.facebookpage == 'no'">Connect</button>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-grid>
				<div class="title">Company Channel</div>
			</ion-grid>
		</div>

		<div *ngIf="activeTab == 'Engagement'">
			<div id="best-channel-shares" style="display: block;"></div>
			<div id="clickthroughs-country" style="display: block;"></div>
			<ion-grid>
				<ion-row class="table-head">
					<ion-col col-1>#</ion-col>
					<ion-col col-6>Channel</ion-col>
					<ion-col col-2>Shares</ion-col>
					<ion-col col-3>Clickthroughs</ion-col>
				</ion-row>
				<ion-row class="table-body-row" *ngFor="let item of bestChannels; let i = index">
					<ion-col col-1>{{ i+1 }}</ion-col>
					<ion-col col-6>
						<ion-icon color="primary" name="logo-facebook" item-start *ngIf="item.name == 'facebook' || item.name == 'facebookpage'"></ion-icon>
						<ion-icon color="primary" name="logo-twitter" item-start *ngIf="item.name == 'twitter'"></ion-icon>
						<ion-icon color="primary" name="logo-linkedin" item-start *ngIf="item.name == 'linkedin' || item.name == 'linkedinpage'"></ion-icon>
					    {{ this.commonService.setProviderName(item.name) }}
				    </ion-col>
					<ion-col col-2>{{ item.shares }}</ion-col>
					<ion-col col-3>{{ item.hits }}</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>
