page-dashboard {
	h2 {
		font-size: 15px !important;
		white-space: normal;
	}
	span {
		font-size: 12px;
		font-weight: 600;
		padding-left: 15px;
		&:first-child {
			padding-left: 0px;
		}
	}
	ion-list-header {
		background: color($colors, light) !important;
	}
	.stats-grid {
		[col-6] {
			.div-1 {
				background: linear-gradient(to bottom, #ffb400, #8e7436);
			}
			.div-2 {
				background: linear-gradient(to bottom, #0097ff, #205c86);
			}
			.div-3 {
				background: linear-gradient(to bottom, #00ffe7, #2b7972);
			}
			.div-4 {
				background: linear-gradient(to bottom, #b995f9, #5218b1);
			}
			div {
				color: $white;
				background: color($colors, light);
                padding: 5px;
                height: 125px;
                ion-icon {
					font-size: 50px;
					position: absolute;
					top: 40px;
                    left: 15px;
                    opacity: 0.3;
                }
                h2, p {
                	text-align: right;
                	padding-right: 10px;
                }
                h2 {
                	font-size: 25px !important; 
                	margin-top: 40px;
                }
			}
		}
	}
	.table-head {
		background: #f7f6f6;
		font-size: 12px;
		font-weight: 600;
		padding: 5px 0px;
	}
	.table-body-row {
		font-size: 12px;
		padding: 5px 0px;
	}
	.title-divider {
		background: color($colors, light) !important;
	    padding: 15px 10px;
	    font-size: 14px;
	    font-weight: 500;
	    color: #6d6d6d;
	}
	.post-summary-list {
		border: 0.5px solid #e6e6e6;
        border-radius: 10px;
        min-height: 125px;
        ion-list {
        	margin: 10px 5px;
        	position: absolute;
            top: 16px;
            .item-inner {
            	margin-left: 5px !important;
            }
        	ion-icon {
        		font-size: 40px;
        		&.blue {
        			color: #51bff7;
        		}
        		&.green {
        			color: #18d3bf;
        		}
        	}
		    .content {
		    	font-size: 10px;
		    	span {
		    		font-size: 20px;
		    		padding-left: 3px;
		    	}
		    }
        }
		.title {
			padding-left: 16px;
			position: absolute;
			bottom: 17px;
		}
	}
	.top-employee-list {
		border: 0.5px solid #e6e6e6;
	    border-radius: 10px;
	    min-height: 125px;
	    margin: 0px auto 10px auto;
	    width: calc(100% - 20px);
        img {
        	width: 75px;
		    height: 75px;
		    border-radius: 50%/50%;
        }
        .right-div {
        	position: absolute;
		    right: -50px;
		    top: 15px;
		    font-size: 12px;
		    color: #949494;
		    width: 145px;
		    [col-3] {
		    	color: #000;
		    }
        }
		.title {
			padding-left: 5px;
            margin: 15px 0px;
		}
	}
	.company-channel-list {
		border: 0.5px solid #e6e6e6;
	    border-radius: 10px;
	    min-height: 125px;
	    margin: 0px auto 10px auto;
	    width: calc(100% - 20px);
        [col-3] {
        	ion-icon {
        		font-size: 50px;
	        	margin: 15px;
	        }
        }
        [col-9] {
        	button,
        	ion-icon {
				padding-left: 30px;
				margin-top: 28px;
        	}
        	ion-icon {
				font-size: 30px;
				font-weight: bold;
        	}
        }
        .right-div {
        	position: absolute;
		    right: -50px;
		    top: 15px;
		    font-size: 12px;
		    color: #949494;
		    width: 145px;
		    [col-3] {
		    	color: #000;
		    }
        }
		.title {
			padding-left: 5px;
            margin: 5px;
		}
	}
}
