<ion-header>
	<ion-navbar>
		<ion-title>Share Story</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item no-lines *ngFor="let item of connections; let i = index;">
			<ion-label>
				<ion-icon name="logo-facebook" item-start *ngIf="item.provider == 'facebook' || item.provider == 'facebookpage'"></ion-icon>
				<ion-icon name="logo-twitter" item-start *ngIf="item.provider == 'twitter'"></ion-icon>
				<ion-icon name="logo-linkedin" item-start *ngIf="item.provider == 'linkedin' || item.provider == 'linkedinpage'"></ion-icon>
				{{ item.provider }} ({{ item.userName }})
			</ion-label>
			<ion-checkbox color="primary" [checked]="item.connected" (ionChange)="onConnectionChange(i)"></ion-checkbox>
		</ion-item>

		<ion-list-header no-lines>Customize</ion-list-header>

		<ion-row no-padding class="tab">
			<ion-col col-4 no-padding>
				<div [ngClass]="{ active: activeMessageTab == 0 }" (click)="setMessage(0)">Facebook</div>
			</ion-col>
			<ion-col col-4 no-padding>
				<div [ngClass]="{ active: activeMessageTab == 1 }" (click)="setMessage(1)">Twitter</div>
			</ion-col>
			<ion-col col-4 no-padding>
				<div [ngClass]="{ active: activeMessageTab == 2 }" (click)="setMessage(2)">Linkedin</div>
			</ion-col>
		</ion-row>

		<ion-item *ngIf="activeMessageTab == 0">
			<ion-textarea rows="3" maxlength="1024" placeholder="Message for facebook" [(ngModel)]="story.customMessage.facebook"></ion-textarea>
		</ion-item>
		<ion-item *ngIf="activeMessageTab == 1">
			<ion-textarea rows="3" maxlength="200" placeholder="Message for twitter" [(ngModel)]="story.customMessage.twitter"></ion-textarea>
		</ion-item>
		<tag-input [(ngModel)]="story.customMessage.linkedin"
                   [placeholder]="'Message for linkedin'"
                   [secondaryPlaceholder]="'Message for linkedin'"
                   [onlyFromAutocomplete]="true"
                   (keyup)="searchLinkedinOrganization($event.srcElement.value)"
                   *ngIf="activeMessageTab == 2">
            <tag-input-dropdown [showDropdownIfEmpty]="false"
                                [dynamicUpdate]="false"
                                [focusFirstElement]="true"
                                [displayBy]="'displayName'"
                                [identifyBy]="'provider_user_id'"
                                [autocompleteItems]="linkedinUsers">
                <ng-template let-item="item" let-index="index">{{ item.displayName }}</ng-template>
            </tag-input-dropdown>
        </tag-input>
	</ion-list>
	<div padding>
		<button ion-button block (click)="share()">Share</button>
	</div>
</ion-content>
