page-share-story-modal {
	.item-input-has-focus .label-md[stacked], 
	.input-has-focus .label-md[stacked], 
	.item-input-has-focus .label-md[floating], 
	.input-has-focus .label-md[floating],
	.list .item-block .item-inner ion-label {
		color: color($colors, dark);
		white-space: normal;
	}
	.list {
		.item {
			padding-right: 16px;
		}
	}
	img {
		max-height: 250px;
        object-fit: contain;
	}
	.padding-right-15 {
		padding-right: 16px;
	}
	.tab {
		margin: 10px auto;
		padding: 0px 16px;
		[col-4] > div {
			padding: 10px;
			background: color($colors, light);
			text-align: center;
			&.active {
				color: color($colors, light);
				background: color($colors, primary);
			}
		}
	}
	ion-list-header {
		background: color($colors, light) !important;
	}
    ion-datetime {
    	padding-left: 0px !important;
    }
    .schedule-list {
    	ion-icon {
    		z-index: 999;
    	}
    }
    .actionBtn {
		margin-top: 5px;
		margin-bottom: 2px;
		font-size: 1.2em;
	}
	.snapshot {
		text-align: center;
		img {
			max-width: 800px;
			max-height: 800px;
		}
	}
	ul.links {
		padding-bottom: 20px;
	}
	.ng2-menu-item[_ngcontent-c5] {
		font-size: 12px;
	}
}
