page-profile {
	button[ion-fab] {
        overflow: visible;
        position: relative;
        ion-label {
            position: absolute;
            top: -8px;
            right: 40px;
            color: color($colors, light);
            background-color: color($colors, secondary);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }
        contain: layout;
    }
	.profile-container {
		margin-bottom: 30px;
		img {
			width: 125px;
			height: 125px;
			border-radius: 50%/50%;
			object-fit: cover;
			margin: 30px auto 15px auto;
		}
        h2 {
            text-transform: capitalize;
        }
	}
    .channel-list {
        ion-thumbnail ion-img,
        ion-thumbnail img {
            border-radius: 50%/50%;
            object-fit: cover;
        }
        h2 {
            text-transform: capitalize;
        }
        p {
            white-space: normal;
        }
    }
}
