<ion-header>
	<ion-navbar>
	    <ion-title>Profile</ion-title>
	</ion-navbar>
	<ion-fab bottom right edge #fab>
		<button ion-fab mini color="primary"><ion-icon name="add"></ion-icon></button>
		<ion-fab-list>
			<button ion-fab (click)="openModal('EditProfileModalPage', fab)">
				<ion-icon name="ios-person"></ion-icon>
				<ion-label>Edit Profile</ion-label>
			</button>
			<button ion-fab (click)="openModal('AddConnectionModalPage', fab)">
				<ion-icon name="md-add"></ion-icon>
				<ion-label>Social Media</ion-label>
			</button>
		</ion-fab-list>
	</ion-fab>
</ion-header>

<ion-content padding>
	<div (swipe)="onSwipe($event)" *ngIf="showPage">
		<div text-center class="profile-container">
			<img [src]="user.image" onerror="this.onerror = null; this.src = 'assets/imgs/default.png'" />
			<h2 *ngIf="user.firstname != null">{{ user.firstname + ' ' + user.lastname }}</h2>
			<p>{{ user.email }}</p>
			<p>Sharing Preference :  <span *ngIf="user.autoshare">Auto Share, </span>&nbsp;<span *ngIf="user.enable_fb_share">FB Share</span></p>
		</div>
		<ion-list class="channel-list">
			<ion-list-header>
				Social Media Accounts 
				<ion-icon item-end name="ios-add-outline" (click)="openModal('AddConnectionModalPage', fab)"></ion-icon>
			</ion-list-header>
			<ion-item *ngFor="let item of channels">
				<ion-thumbnail item-start>
					<img [src]="item.image_url" onerror="this.onerror = null; this.src = 'assets/imgs/default.png'" />
				</ion-thumbnail>
				<h2>{{ item.name }}</h2>
				<p>Connected as <span>{{ item.user_name }}</span></p>
				<button ion-button color="primary" (click)="openModal('LinkedinModalPage', fab)" *ngIf="item.type == 'subchannelmeta'">Attach Linkedin Pages</button><br *ngIf="item.type == 'subchannelmeta'"/>
				<button ion-button color="danger" (click)="disconnect(item)">Disconnect</button>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
