<ion-header>
	<ion-navbar>
		<ion-title>User Overview</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>Overview</ion-card-header>
		<ion-card-content>
			<ion-grid>
				<ion-row>
					<ion-col col-8>Total users</ion-col>
					<ion-col col-4>{{ overview.totalUsers }}</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-8>Administrators</ion-col>
					<ion-col col-4>{{ overview.adminUsers }}</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-8>Users waiting for approval</ion-col>
					<ion-col col-4>{{ overview.totalUsers }}</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
</ion-content>
