<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<div (swipe)="onSwipe($event)">
		<ion-list>
			<ion-item (click)="doLogout()">
				logout
				<ion-icon name="ios-arrow-forward-outline" item-end></ion-icon>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
