// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    #488aff,
  // secondary:  #32db64,
  // danger:     #f53d3d,
  // primary:    #40d1ea,
  primary:    #3c84fa,
  secondary:  #39edc8,
  danger:     #ff5722,
  light:      #f8f8f8,
  dark:       #222,
  ash:        #8e9093
);

$white: #ffffff;
$grey-dark: #444444;
$grey-base: #6d6d6d;
$grey-light: #666666;




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// $tabs-ios-tab-icon-color: color($colors, primary);
// $tabs-ios-tab-text-color: color($colors, primary);
$tabs-ios-tab-font-size: 10px;




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// $tabs-md-tab-icon-color: color($colors, primary);
// $tabs-md-tab-text-color: color($colors, primary);
$tabs-md-tab-font-size: 10px;




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
