<ion-header>
	<ion-navbar>
		<ion-title>{{ modalTitle }}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label stacked>Link</ion-label>
			<ion-input type="text" placeholder="http://company.com/blogs/great-blog-post" [(ngModel)]="story.url"></ion-input>
		</ion-item>
		
		<div text-right class="padding-right-15">
			<button ion-button small (click)="fetchUrl(story)">Fetch</button>
		</div>

		<ion-list-header no-lines (click)="openActionSheet()">
			Upload image
			<ion-icon item-end name="ios-cloud-upload-outline"></ion-icon>
		</ion-list-header>
		<input type="file" id="file" accept="image/*;capture=camera" (change)="changeListener($event)" style="display: none;">

        <webcam [height]="500" 
	            [width]="500" 
	            [trigger]="triggerObservable" 
	            [allowCameraSwitch]="allowCameraSwitch" 
	            [switchCamera]="nextWebcamObservable"
	            [videoOptions]="videoOptions"
	            [imageQuality]="1"
	            (cameraSwitched)="cameraWasSwitched($event)"
	            (initError)="handleInitError($event)"
	            (imageCapture)="handleImage($event)"  
	            *ngIf="showWebcam"></webcam>
	    <br/>
	    <button ion-button (click)="triggerSnapshot()" *ngIf="showWebcam">Take Picture</button>

	    <ion-card *ngIf="story.image">
		    <img [src]="story.image" />
	    </ion-card>

		<ion-item>
			<ion-label stacked>Title</ion-label>
			<ion-input type="text" [(ngModel)]="story.title"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Description</ion-label>
			<ion-textarea rows="3" [(ngModel)]="story.description"></ion-textarea>
		</ion-item>
		<br/>

		<ion-item no-lines>
			<ion-label>Email team members requesting them to share</ion-label>
			<ion-checkbox color="primary" [(ngModel)]="story.isShareEnabled"></ion-checkbox>
		</ion-item>
		<br/>

		<ion-item no-lines>
			<ion-label>Custom messages for</ion-label>
			<ion-select name="messagesFor" [(ngModel)]="story.messagesFor">
				<ion-option [value]="item.id" *ngFor="let item of vipUsers">{{ item.name }}</ion-option>
			</ion-select>
		</ion-item>

		<ion-row no-padding class="tab">
			<ion-col col-4 no-padding>
				<div [ngClass]="{ active: activeMessageTab == 0 }" (click)="setCustomMessageTab(0)">Facebook</div>
			</ion-col>
			<ion-col col-4 no-padding>
				<div [ngClass]="{ active: activeMessageTab == 1 }" (click)="setCustomMessageTab(1)">Twitter</div>
			</ion-col>
			<ion-col col-4 no-padding>
				<div [ngClass]="{ active: activeMessageTab == 2 }" (click)="setCustomMessageTab(2)">Linkedin</div>
			</ion-col>
		</ion-row>

		<ion-item *ngIf="activeMessageTab == 0">
			<ion-textarea rows="3" maxlength="1024" placeholder="Message for facebook" [(ngModel)]="story.customMessage.facebook"></ion-textarea>
		</ion-item>
		<ion-item *ngIf="activeMessageTab == 1">
			<ion-textarea rows="3" maxlength="200" placeholder="Message for twitter" [(ngModel)]="story.customMessage.twitter"></ion-textarea>
		</ion-item>
		<tag-input [(ngModel)]="story.customMessage.linkedin"
                   [placeholder]="'Message for linkedin'"
                   [secondaryPlaceholder]="'Message for linkedin'"
                   [onlyFromAutocomplete]="true"
                   (keyup)="searchLinkedinOrganization($event.srcElement.value)"
                   *ngIf="activeMessageTab == 2">
            <tag-input-dropdown [showDropdownIfEmpty]="false"
                                [dynamicUpdate]="false"
                                [focusFirstElement]="true"
                                [displayBy]="'displayName'"
                                [identifyBy]="'provider_user_id'"
                                [autocompleteItems]="linkedinUsers">
                <ng-template let-item="item" let-index="index">{{ item.displayName }}</ng-template>
            </tag-input-dropdown>
        </tag-input>
        
		<ion-item no-lines>
			<ion-label>Content type</ion-label>
			<ion-select multiple="true" cancelText="Cancel" okText="Okay" [(ngModel)]="story.contentTypes">
				<ion-option [value]="item.id" *ngFor="let item of contentTypes">{{ item.name }}</ion-option>
			</ion-select>
		</ion-item>

		<ion-list-header no-lines (click)="addNewDateToSchedule()">
			Publish At
			<ion-icon item-end name="ios-add-outline"></ion-icon>
		</ion-list-header>

		<ion-item class="schedule-list" *ngFor="let item of scheduledDates; let i = index">
			<ion-datetime placeholder="MM/DD/YYYY h:mm A" displayFormat="MM/DD/YYYY h:mm A" pickerFormat="MM/DD/YYYY h mm A" [(ngModel)]="scheduledDates[i]"></ion-datetime>
			<ion-icon item-end color="primary" name="trash" (click)="removeSchedule(item)"></ion-icon>
		</ion-item>
	</ion-list>
	<ion-grid>
		<ion-row>
			<ion-col col-4>
				<button ion-button block default color="twitter" [disabled]="scheduledDates?.length > 0" (click)="postStory(story)">Post Now</button>
			</ion-col>
			<ion-col col-4>
				<button ion-button block default color="secondary" [disabled]="scheduledDates?.length == 0" (click)="postStory(story)">Schedule</button>
			</ion-col>
			<ion-col col-4>
				<button ion-button block default color="danger" (click)="closeModal()">Cancel</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
