// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child, .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
	border-bottom-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
// .popover-content {
// 	top: 50px !important;
// 	left: inherit !important;
// 	right: 62px !important;
// }
// .popover-arrow {
// 	top: 42px !important;
//     left: 286.391px !important;
//     left: inherit !important;
//     right: 65px !important;
// }


tag-input {
    margin: 0px 16px;
    min-height: 83px;
    padding-top: 0px;
    box-shadow: none !important;
    .ng2-tags-container {
        min-height: 83px;
    }
    .ng2-tag-input-field {
        padding-top: 0px !important;
    }
    .tag__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        line-height: 12px;
        padding: 9px;
    }
    .delete-icon {
        margin: -3px 5px;
    }
}

.ng2-menu-item[_ngcontent-c4] {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial;
    background: #fff;
    color: rgba(0,0,0,.87);
    cursor: pointer;
    font-size: 12px !important;
    text-transform: none;
    font-weight: 400;
    letter-spacing: .03em;
    height: 48px;
    line-height: 48px;
    padding: .3em 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: background .25s;
}

.image-name {
    color: color($colors, light);
    // background: #667785;
    height: 50px;
    width: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50%/50%;
    padding-top: 16px;
    &.is-admin {
        border: 1px solid color($colors, danger);
    }
    &.not-admin {
        border: 1px solid color($colors, ash);
    }
}