<ion-header>
	<ion-navbar>
		<ion-title>Linkedin</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label>Select Linkedin Page</ion-label>
			<ion-select [(ngModel)]="linkedinPage">
				<ion-option [value]="item" *ngFor="let item of pages">{{ item }}</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<button ion-button small (click)="addLinkedinPage()">Add</button>
</ion-content>
