<ion-header>
	<ion-navbar>
		<ion-title>Stories</ion-title>
		<ion-buttons end>
			<button ion-button right color="primary" (click)="openStoryModal()">
				<ion-icon name="ios-create-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar>
		<ion-segment mode="ios">
			<ion-segment-button value="published" [ngClass]="{'segment-activated': activeTab == 'published'}" (click)="getStories('published')">Published</ion-segment-button>
			<ion-segment-button value="scheduled" [ngClass]="{'segment-activated': activeTab == 'scheduled'}" (click)="getStories('scheduled')">Scheduled</ion-segment-button>
			<ion-segment-button value="pending" [ngClass]="{'segment-activated': activeTab == 'pending'}" (click)="getStories('pending')">Pending</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content #pageTop>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content refreshingSpinner="ios-small"></ion-refresher-content>
	</ion-refresher>
	<div (swipe)="onSwipe($event)">
		<div *ngIf="stories?.length > 0">

			<ion-card *ngFor="let item of stories; let i = index" (click)="getStory(item)">
				<ion-item>
					<ion-avatar item-start>
						<div class="image-name" [ngStyle]="{'background': this.commonService.getColor(i)}">{{ this.commonService.getImageName(item.team_name, '') }}</div>
					</ion-avatar>
					<h2 class="posted-by">{{ item.team_name }}</h2>
					<p class="story-type">{{ activeTab }}</p>
					<p class="pub-date">{{ this.commonService.formatDate(item.pub_date) }}</p>
				</ion-item>
				<ion-card-content>
					<ion-list no-lines>
						<ion-item>
							<ion-thumbnail item-start>
								<img [src]="item.image_link" onerror="this.onerror = null; this.src = 'assets/imgs/default-banner.jpg'" />
							</ion-thumbnail>
							<h2>{{ item.title }}</h2>
							<p>{{ item.body }}</p>
						</ion-item>
						<ion-row class="footer-icon-row">
							<ion-col>
								<ion-icon name="copy" color="primary" (click)="doCopy(item); $event.stopPropagation()"></ion-icon>
								<ion-icon name="share" color="primary" (click)="doShare(item); $event.stopPropagation()"></ion-icon>
							</ion-col>
							<ion-col text-right>
								<button ion-button icon-start clear small color="ash">
									<div class="counts">
										<span *ngIf="item.shares > 0">{{ item.shares }} Shares </span>&nbsp; 
									    <span *ngIf="item.hits > 0">{{ item.hits }} Clicks</span>
									</div>
								</button>
							</ion-col>
						</ion-row>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
		<div *ngIf="stories?.length == 0 && showEmptyPage">
			<ion-card class="empty-card">
			<ion-card-content>
				<ion-icon name="ios-paper-outline"></ion-icon>
				<div class="empty-card-content">
					<h2>No stories</h2>
					<p>Looks like you haven't any stories to view.</p>
					<button ion-button round (click)="openStoryModal()">POST NEW STORY</button>
				</div>
			</ion-card-content>
			</ion-card>
		</div>
    </div>
	<ion-infinite-scroll [enabled]="isInfiniteEnable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="ios-small"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
