page-stories {
	.fake-item {
		h2, p {
			background-color: color($colors, ash);
			opacity: 0.5;
			height: 1em;
			margin-top: 10px;
		}
		h2 {
			width: 35%;
		}
		p {
			width: 60%;
		}
	}
	.pub-date {
		color: #929292;
		font-size: 10px;
		font-weight: 700;
		position: absolute;
		right: 5px;
		top: 20px;
		width: 90px;
		white-space: normal;
		line-height: 15px;
	}
	h2::first-letter,
	p::first-letter {
	    text-transform: uppercase !important;
	}
	.story-type {
		font-size: 10px;
	}
	.card {
		width: 100%;
		margin: 0px;
		box-shadow: none;
		border-bottom: 1px solid #eee;
		.posted-by {
			font-size: 14px;
		}
		.posted-on {
			font-size: 10px;
			position: absolute;
			top: 24px;
			right: 9px;
		}
		ion-avatar {
			img {
				object-fit: cover;
			}
		}
		.story-image {
			width: 100%;
			object-fit: contain;
		}
		.card-content {
			padding: 0px;
			h2 {
				font-weight: 500;
				margin-bottom: 10px;
				-webkit-line-clamp: 2;
			}
			p {
				-webkit-line-clamp: 3;
			}
			h2,
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-height: 1.5;
				max-height: 4.5;
				white-space: normal;
			}
		}
		.footer-icon-row {
			ion-icon {
				font-size: 20px;
			    padding: 10px;
			}
		}
		.counts {
			text-transform: capitalize;
		}
	}
	.empty-card {
	    text-align: center;
	    box-shadow: none;
	    padding-top: 100px;
	    border-bottom: none;
	    ion-icon {
    		color: $grey-light;
    		font-size: 100px;
    	}
	    .empty-card-content {
		    h2 {
		        font-size: 18px;
		        font-weight: 500;
		    } 
		    p {
		        margin: 15px auto 50px auto;
		        width: 240px;
		    }
		    .button-inner {
		        font-size: 12px;
		    }
	    }
	}
}