<ion-header>
	<ion-navbar>
		<ion-title>Social media</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label>Social media</ion-label>
			<ion-select [(ngModel)]="socialMedia">
				<ion-option value="facebook">Facebook</ion-option>
				<ion-option value="twitter">Twitter</ion-option>
				<ion-option value="linkedin">Linkedin</ion-option>
				<ion-option value="linkedinpage">Linkedin Page</ion-option>
			</ion-select>
		</ion-item>
	</ion-list>

	<button ion-button mini (click)="connectSocialMedia()">Connect</button>
	
	<ion-list *ngIf="showConnection">
		<ion-item>
			<ion-avatar item-start>
				<img [src]="connection.image" onerror="this.onerror = null; this.src = 'assets/imgs/default.png'" />
			</ion-avatar>
			<h2>{{ connection.name }}</h2>
			<p>Id: {{ connection.id }}</p>
			<p>Token: {{ connection.accessToken }}</p>
			<p>Email: {{ connection.email }}</p>
			<p>Phone: {{ connection.phone }}</p>
			<button ion-button small color="primary" (click)="addToProfile(connection)">Add To Profile</button>
		</ion-item>
	</ion-list>
</ion-content>
