<ion-header>
    <ion-navbar>
	    <ion-title>Timelines</ion-title>
	    <ion-buttons end>
			<button ion-button right icon-only (click)="openFilters($event)">
				<ion-icon name="ios-more" color="primary"></ion-icon>
			</button>
		</ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content #pageTop>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content refreshingSpinner="ios-small"></ion-refresher-content>
	</ion-refresher>
	<div (swipe)="onSwipe($event)">
		<div *ngIf="items?.length > 0">
			<ion-card *ngFor="let item of items; let i = index;">
				<ion-item>
					<ion-avatar item-start>
						<div class="image-name" [ngStyle]="{'background': this.commonService.getColor(i)}">{{ this.commonService.getImageName(item.firstname, item.lastname) }}</div>
					</ion-avatar>
					<h2 class="posted-by" *ngIf="item.firstname">{{ item.firstname + ' ' + item.lastname }}</h2>
					<h2 class="posted-by" *ngIf="item.firstname == undefined || item.firstname == ''">Anonymous</h2>
					<p>
						<ion-icon color="primary" name="eye" *ngIf="item.type == 'hit'"></ion-icon>
						<ion-icon color="primary" name="share" *ngIf="item.type == 'share'"></ion-icon>
						<ion-icon color="primary" name="document" *ngIf="item.type == 'post'"></ion-icon>

						<ion-icon color="primary" name="logo-twitter" *ngIf="item.provider_id == 'twitter'"></ion-icon>
						<ion-icon color="primary" name="logo-facebook" *ngIf="item.provider_id == 'facebook'"></ion-icon>
						<ion-icon color="primary" name="logo-facebook" *ngIf="item.provider_id == 'facebookpage'"></ion-icon>
						<ion-icon color="primary" name="logo-linkedin" *ngIf="item.provider_id == 'linkedin'"></ion-icon>
						<ion-icon color="primary" name="logo-linkedin" *ngIf="item.provider_id == 'linkedinpage'"></ion-icon>
						<span *ngIf="item.type == 'hit'">&nbsp;Click & Shared </span> 
						<span *ngIf="item.type == 'share'">&nbsp;Shared </span> 
						<span *ngIf="item.type == 'post'">&nbsp;Posted </span> 
						a story <span class="timeago">{{ item.timestamp | timeAgo }}</span>
					</p>
				</ion-item>
				<ion-card-content>
					<ion-list no-lines>
						<ion-item>
							<ion-thumbnail item-start>
								<img [src]="item.image_link" onerror="this.onerror = null; this.src = 'assets/imgs/default.png'" />
							</ion-thumbnail>
							<h2>{{ item.title }}</h2>
							<p>{{ item.body }}</p>
						</ion-item>
					</ion-list>
				</ion-card-content>
			</ion-card>
		</div>
		<div *ngIf="items?.length == 0 && showEmptyPage">
			<ion-card class="empty-card">
			<ion-card-content>
				<ion-icon name="ios-person"></ion-icon>
				<div class="empty-card-content">
					<h2>No timelines</h2>
					<p>Looks like no timelines added</p>
				</div>
			</ion-card-content>
			</ion-card>
		</div>
    </div>
	<ion-infinite-scroll [enabled]="isInfiniteEnable" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="ios-small"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
