page-timelines {
	h2, p {
		white-space: normal;
	}
	.card {
		width: 100%;
		margin: 0px;
		padding: 10px 0px;
		box-shadow: none;
		border-bottom: 1px solid #eee;
		.posted-by {
			font-size: 14px;
			text-transform: capitalize;
		}
		.posted-type {
			font-size: 13px;
			position: absolute;
			top: 19px;
			right: 12px;
			text-transform: capitalize;
		}
		ion-avatar {
			margin-right: 5px !important;
			img {
				object-fit: cover;
			}
		}
		ion-label {
			margin-left: 10px;
		}
		.card-content {
			padding: 0px 16px;
			.item {
				padding-left: 0px;
				ion-thumbnail ion-img, 
				ion-thumbnail img {
					position: absolute;
					top: 20px;
					object-fit: cover;
				}
				ion-label {
					margin-left: inherit;
				}
			}
			h2 {
				font-weight: 500;
				margin-bottom: 10px;
				-webkit-line-clamp: 2;
			}
			p {
				-webkit-line-clamp: 3;
			}
			h2,
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-height: 1.5;
				max-height: 4.5;
			}
		}
		.footer-icon-row {
			padding-left: 6px;
			ion-icon {
				font-size: 20px;
			    padding: 0px 5px;
			}
		}
		.timeago {
			padding-right: 7px;
		}
	}
	.empty-card {
	    text-align: center;
	    box-shadow: none;
	    padding-top: 100px;
	    border-bottom: none;
	    ion-icon {
    		color: $grey-light;
    		font-size: 100px;
    	}
	    .empty-card-content {
		    h2 {
		        font-size: 18px;
		        font-weight: 500;
		    } 
		    p {
		        margin: 15px auto 50px auto;
		        width: 240px;
		    }
		    .button-inner {
		        font-size: 12px;
		    }
	    }
	}
}
