page-story {
	.card {
		width: 100%;
		margin: 0px;
		box-shadow: none;
		border-bottom: 1px solid #eee;
		.posted-by {
			font-size: 14px;
		}
		.posted-on {
			font-size: 12px;
			position: absolute;
			top: 19px;
			right: 9px;
		}
		ion-avatar {
			img {
				object-fit: cover;
			}
		}
		.story-image {
			height: 275px;
			width: 100%;
			object-fit: cover;
		}
		.card-content {
			h2 {
				font-weight: 500;
				margin-bottom: 10px;
			}
			h2,
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-height: 1.5;
				max-height: 4.5;
			}
		}
		.footer-icon {
			font-size: 20px;
			padding: 10px;
		}
		.counts {
			text-transform: capitalize;
		}
	}
}