<ion-header>
  <ion-navbar>
    <ion-title>Story</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-item>
			<ion-avatar item-start>
				<img [src]="story.image_link" onerror="this.onerror = null; this.src = 'assets/imgs/default.png'" />
			</ion-avatar>
			<h2 class="posted-by">{{ story.team?.name }}</h2>
			<p class="posted-on">{{ story.pub_date }}</p>
		</ion-item>
		<ion-card-content>
			<h2>{{ story.title }}</h2>
			<p>{{ story.body }}</p>
		</ion-card-content>
		<img [src]="story.image_link" class="story-image" onerror="this.onerror = null; this.src = 'assets/imgs/default-banner.jpg'" />
		<ion-row>
			<ion-col text-right>
				<button ion-button icon-start clear small color="ash">
					<div class="counts">
						<span *ngIf="story.shares > 0">{{ story.shares }} Shares </span>&nbsp; 
					    <span *ngIf="story.hits > 0">{{ story.hits }} Clicks</span>
					</div>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
