<ion-header>
	<ion-navbar>
		<ion-title>Invite</ion-title>
		<ion-buttons end>
			<button ion-button icon-only right color="primary" (click)="closeModal()">
				<ion-icon name="ios-close-outline"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<h2>Invite New Users with a Link</h2>
    <p>(Anyone with this link can join the team)</p>
	<ion-list>
		<ion-item>
			<ion-label floating>Invite Link</ion-label>
			<ion-input type="text" [(ngModel)]="inviteLink" readonly></ion-input>
		</ion-item>
	</ion-list>
	<div padding>
		<button ion-button block (click)="copyLink()">Copy link</button>
		<button ion-button block (click)="doInvite()">Invite</button>
	</div>
</ion-content>
